.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 450px;
  z-index: -1;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 62px;
  font-size: 3rem;
  color: grey;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(104, 97, 97);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media (max-width: 767px) {
  .slider {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    z-index: -1;
    border-radius: 5px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .slider {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    z-index: -1;
    border-radius: 5px;
  }
}

@media (max-width: 479px) {
}
